<footer id="myFooter">
  <div class="container">
      <div class="row">
          <div class="col-sm-4 myCols">
              <h5>Get started</h5>
              <ul>
                  <li><a [ngx-scroll-to]="'#top'">Home</a></li>
                  <li><a [ngx-scroll-to]="'#about'">About us</a></li>
                  <li><a [ngx-scroll-to]="'#services'">Serviecs</a></li>
              </ul>
          </div>
          <div class="col-sm-4 myCols">
              <h5>About us</h5>
              <ul>
                  <li><a [ngx-scroll-to]="'#team'">Team</a></li>
                  <li><a [ngx-scroll-to]="'#contact'">Contact us</a></li>
                  <li><a href="#">Clients</a></li>
              </ul>
          </div>
          <div class="col-sm-4 myCols">
              <h5>Legal</h5>
              <ul>
                  <li><a href="#">Terms of Service</a></li>
                  <li><a href="#">Terms of Use</a></li>
                  <li><a href="#">Privacy Policy</a></li>
              </ul>
          </div>
      </div>
  </div>
  <div class="social-networks">
        <li class="list-inline-item">
                <a href="https://twitter.com/arullivi"  target="_blank"class="social-networks">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/ultrasoftsolutions" target="_blank" class="social-networks">
                  <i class="fa fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/company/ultrasoft-solutions" target="_blank" class="social-networks">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
  </div>
  <div class="footer-copyright">
      <p>© 2019 Copyright. All rights reserved </p>
  </div>
</footer>