<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">We've got what you need!</h2>
        <hr class="light my-4">
        <p class="text-faded mb-4">Ultrasoft provide technology solution's to help you catch up with the current technology trends in a simple customer centric way.</p>
        <a class="btn btn-light btn-xl js-scroll-trigger" [ngx-scroll-to]="'#services'">Get Started!</a>
      </div>
    </div>
  </div>
</section>
