<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-black">About Us</h2>
        <hr class="dark my-4">
      </div>
    </div>
  </div>
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="https://s3.amazonaws.com/personalbucketdoc/about.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="p-5">
              <h2 class="display-4">Innovation Made Simple!</h2>
              <p>
                We are a data  driven  company focused on innovation and use latest technology trends to solve our customers unique challenges.  
                We keep our solutions simple and take pride in our customers success. 
              </p>
            </div>
          </div>
        </div>
  </div>

</section>