<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Our Services</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="https://s3.amazonaws.com/personalbucketdoc/1_EGdGrVC_5x6SyEsjAOudXw.png" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Artificial Intelligence</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="https://s3.amazonaws.com/personalbucketdoc/Word-cloud-of-Brisbanes-digital-strategy.png" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">Digital Strategy & Transformation</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="https://s3.amazonaws.com/personalbucketdoc/multi-cloud-diagram-2018.png" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Multi Cloud Statergy</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="https://s3.amazonaws.com/personalbucketdoc/1_PSDdfqc5jaleNz418Fx2LA.png" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">Blockchain for Business</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <div class="card" style="margin: 0.6rem;">
            <img class="card-img-top" src="https://s3.amazonaws.com/personalbucketdoc/1_EGdGrVC_5x6SyEsjAOudXw.png" alt="Card image cap">
          </div>
          <h3 class="mb-3">Artificial Intelligence</h3>
          <p align="justify" class="text-muted mb-0">If you’ve got data, we can provide an intelligent solution using AI to find patterns, trends, and associations, to discover inefficiencies, to predict future outcomes based on historical trends and to inform fact-based decisions. Our Data Scientists and AI/ML teams will work closely with you to bring value to your business.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
            <div class="card" style="margin: 0.6rem;">
              <img class="card-img-top" src="https://s3.amazonaws.com/personalbucketdoc/Word-cloud-of-Brisbanes-digital-strategy.png" alt="Card image cap">
            </div>
          <h3 class="mb-3">Digital Strategy & Transformation</h3>
          <p align="justify" class="text-muted mb-0">We can help solve your traditional problems using digital technology which inherently will enable new types of innovation and creativity in your business domain.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
            <div class="card" style="margin: 0.6rem;">
                <img class="card-img-top" src="https://s3.amazonaws.com/personalbucketdoc/multi-cloud-diagram-2018.png" alt="Card image cap">
              </div>
          <h3 class="mb-3">Multi Cloud Statergy</h3>
          <p align="justify" class="text-muted mb-0">
Our expert cloud team can help you with a cloud strategy that works best for your business domain. Take advantage of the capabilities offered by multiple cloud providers without the fear of vendor lock-in. We will help you scale at a global level in a cost effective manner.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
            <div class="card" style="margin: 0.6rem;">
                <img class="card-img-top" src="https://s3.amazonaws.com/personalbucketdoc/1_PSDdfqc5jaleNz418Fx2LA.png" alt="Card image cap">
              </div>
          <h3 class="mb-3">Blockchain for Business</h3>
          <p align="justify" class="text-muted mb-0" >Our Blockchain team can help you solve some of trust related business concerns using the blockchain technology. </p>
        </div>
      </div>
    </div>
  </div>
</section>
